abc*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
 }




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
body{
    background: #189ec7;
    color: rgb(206, 199, 199);
}

.sidebar_menu{
    position: absolute;
    left: 0px;
    top: 0px;
}
.sidebar_menu .navbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40vh;
    /* border: 2px solid yellow; */
    box-shadow:  0 0 9px 2px gainsboro;
    border: 5px solid #189ec7;
  
}
.navbar p{
    padding-top: 10px;
}

.sidebar_menu .navbar i{
   
}
.sidebar_menu .navbar a{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 20px;
}
.menu_item{
    padding: 10px 2px;

}

.menu_item i{
    padding-left: 20px;
    font-size: 21px;
}
.navbar .menu_item:nth-child(1),
.navbar .menu_item:nth-child(9){
    border-bottom: 1px solid wheat;
    margin-top: 6px 0px;
}
.navbar .menu_item:nth-child(9){
    padding-bottom: 50px;
}